* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: fit-content;
  border: 1px solid black;
  background-color: #151a2a;
  padding: 2rem;
  margin: 5rem auto;
}

.App {
  text-align: center;
}

.tic-tac-toe-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  color: white;
}

.squares-row {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.square-button {
  height: 64px;
  width: 64px;
  background: none;
}

.square-button:hover {
  cursor: pointer;
  border-color: #ffffff;
}

.board-container {

  border: 1px solid #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}

.restart-button {
  color: white;
}

.restart-button:hover {
  color: aqua;
}